@font-face {
  font-family: "iconfont"; /* Project id 3900857 */
  src: url('iconfont.woff2?t=1676600658356') format('woff2'),
       url('iconfont.woff?t=1676600658356') format('woff'),
       url('iconfont.ttf?t=1676600658356') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wo:before {
  content: "\e600";
}

.icon-duihua:before {
  content: "\e620";
}

.icon-tongxunlu:before {
  content: "\e632";
}

.icon-faxian:before {
  content: "\e8af";
}

